* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
  }

a:link {
    color: #E5E7EB;
}

a:visited {
    color: #E5E7EB;
  }


.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
}