* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
  }

a:link {
    color: #E5E7EB;
}

a:visited {
    color: #E5E7EB;
  }


.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.herotitle {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.calltoaction {
    
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 900;
    border: none;
    border-radius: 8px;
    padding: 7px 20px;
    margin: 10px;
    text-decoration: none;
}

.smallertext {
    background-color: #1F2937;
    color: #F9FAF8;
    color: #E5E7EB;
    font-size: 18px;
}

.title {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 0px;
    background-color: white;
    color: #1F2937;
    font-size: 32px;
    font-weight: 900;
}
.information {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white;
    color: #1F2937;
  }
  
  .info {
    display: flex;
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
  }

  .quote {
    background-color: #E5E7EB;
    font-family: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
  }

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}