@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
}

.first-section {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.navbar-left, .navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 350px;
}

img {
    margin-bottom: 50px;
}

.p-first {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-first-section {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.contenttitle {
    padding:0px;
    margin: 50px;
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
}
.contentheader {
    display:flex;
    text-align: center;
    justify-content: center;
    gap: 52px;
}
  
.contentinfo {
    max-width: 200px;
}
    
.contentimage {
      border: 5px solid blue;
      border-radius: 24px;
}

.contenttext {
    color: #1F2937;
}

.quote {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    color: #1F2937;
    background-color: #E5E7EB;
    font-size: 36px;
  }
  
  .quote-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quote-name {
      display: flex;
      align-items: end;
  }
  
  .quote-name::before {
    content: "\2014";
  }

.last-div {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882f6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.left {
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.last-p {
    color: #E5E7EB;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-last-div {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3882f6; /* Choose your desired button color */
    color: #fff; /* Choose button text color */
    text-decoration: none;
    border-radius: 5px;
    border:2px solid #fff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 75px;
}